@{
    ViewData["NavTitle"] = "Access Denied";
}

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="text-danger">Toegang geweigerd</h1>
            <h6 class="text-danger">Je hebt geen rechten om deze pagina weer te geven</h6>
            <img src="~/images/noaccess.png" alt="Stop"/>
        </div>
    </div>