<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" />

    <title>Battery Service Support</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/fontawesome-free-5.12.0-web/js/all.js"></script>
</body>
</html>
