@{
    ViewData["NavTitle"] = "Not Found";
}

    <div class="container-fluid">
        <h1>@ViewData["ErrorMessage"]</h1>

        <a asp-controller="Relatie" asp-action="Index">
            Terug naar Dashboard
        </a>
    </div>